!!!
%html
%head
  %title Hello
  %link(rel="stylesheet" href="/stylesheets/app.css")
  %script(type="text/javascript" src="/javascripts/app.js")
%body(lang='en')
  #index(data-role='page')
    #header(data-role='header')
      %h1 JQM Test
    #users-list(data-role='content')
